
/**
 *@see: 帮助中心css
 */

.cont1{
      width: 100%;
      height: 130px;
      background-image: url(../img/helps/bg1.png);
      background-repeat: no-repeat;
      text-align: center;
}
.cont1 img{
    display: inline-block;
        margin-top: 20px;
}
.cont2{
    width: 100%;
    height: 942px;
    margin-top: 30px;
}
.cont2 .ct2_left{
    width: 186px;
    height: 942px;
    margin-right: 15px;
    text-align: center;
    overflow: hidden;
}
.cont2 .ct2_right{
    width: 992px;
    height: 942px;
    border: 1px solid #DEDEDE;
    overflow: hidden;
}
.ct2_left  .font_desc{
    background-image: url(../img/helps/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8px;
    padding-bottom: 11px;

}
.ct2_left  .font_del3{
        border-bottom: 1px dotted  #DEDEDE;
        margin-right: 28px;
        margin-left: 28px;
        margin-top: 15px;
        padding-bottom: 14px;
           cursor: pointer;
}
.ct2_right  .ct2_titile{
    width: 992px;
    height: 35px;
    background-image: url(../img/helps/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
        padding-left: 22px;
    padding-top: 10px;

}
.ct2_ct p{
    padding: 41px  30px;
    text-indent: 2em;
    line-height: 20px;
    line-height: 30px;
}
.ct2_left .active{
  color: #33CC66;
}

.ct2_right a,.ct2_right i{
    font-size: 14px;
    color: #454545;
}
