.cont1
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.cont2
{
    height: 531px;
    margin-bottom: 50px;
}
.cont2 .ct2_left
{
    float: left;

    width: 188px;
    height: 497px;
    padding-top: 30px;

    text-align: center;

    border: 1px solid #dedede;
    background-color: #f9f9f9;
}
.cont2 .ct2_right
{
    float: right;

    width: 1000px;
}
.ct2_right .ct2_main1
{
    width: 100%;
    height: 203px;

    border: 1px solid #dedede;
}
.ct2_main1 p
{
    padding-top: 12px;
    padding-left: 20px;
}
.ct2_main1 ul
{
    margin-top: 25px;
    margin-left: 40px;
}
.ct2_main1 .li2
{
    position: relative;
    bottom: 18px;

    width: 400px;
    margin-left: 40px;
}
.ct2_main1 .li1
{
    margin-top: 20px;
}
.ct2_main1 .li2 .div2
{
    margin-top: 14px;
    margin-bottom: 20px;
}
.ct2_main1 .info
{
    display: inline-block;

    margin-left: 20px;
}

.ct2_main1 ul span
{
    font-size: 14px;

    color: #454545px;
}
.ct2_main1  .vip
{
    display: inline-block;

    margin-right: 8px;
    margin-left: 8px;
}
.ct2_main1 .li3
{
    position: relative;
    bottom: 13px;
    left: 65px;

    cursor: pointer;
}
.ct2_main1 .li4
{
    position: relative;
    bottom: 13px;
    left: 121px;

    cursor: pointer;
}

.ct2_main1 .li5
{
    position: relative;
    bottom: 13px;
    left: 175px;

    cursor: pointer;
}

.change,
.ct2_main1 .li2  b,
.ct2_main1 .info1
{
    cursor: pointer;
}

.ct2_left .round
{
    position: relative;
    right: 9px;
    bottom: 3px;

    display: inline-block;

    width: 3px;
    height: 3px;

    background-image: url(../img/myCenter/off.png);
}
.ct2_left  .active
{
    background-image: url(../img/myCenter/on.png);
}


.bottom_style
{
    margin-right: 30px;
    margin-bottom: 15px;
    margin-left: 30px;
    padding-bottom: 15px;

    border-bottom: 1px solid #dedede;
}

.mt_12
{
    margin-top: 12px;
}
.ct2_main2
{
    width: 100%;
}
.ct2_main2  .p1
{
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}
.ct2_main2  .p1 img
{
    float: right;

    cursor: pointer;
}


.ct2_ul1  li
{
    overflow: hidden;

    width: 194px;
    height: 262px;

    text-align: center;

    border: 1px solid #dedede;
}
.ct2_ul1 .gimg
{
    overflow: hidden;

    width: 190px;
    height: 120px;
}
.ct2_ul1 .f1title
{
    width: 182px;
    margin-top: 23px;
    margin-bottom: 14px;
}
