

.cont1
{
    margin-bottom: 70px;
}
.cont1  .ct1_line1
{
    display: inline-block;

    width: 1200px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.cont1  .ct1_line2
{
    width: 1200px;
    height: 532px;
    margin-bottom: 60px;
}

.cont1  .c1line2_left
{
    width: 580px;
    height: 532px;
}

.cont1  .c1line2_right
{
    float: right;
    overflow: hidden;

    width: 575px;
}
.c1line2_right  ul
{
    width: 575px;
    height: 159px;

    background-image: url(../img/shoppingRush/rush.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.c1line2_right i
{
    font-size: 14px;

    color: #fff;
}
.c1line2_right  .font_green i
{
    color: #9fffbf;
}
.c1line2_right   .c1l2_last
{
    float: right;

    margin-top: 49px;
    margin-right: 14px;
}
.c1line2_right   .font_white
{
    margin-top: 43px;
    margin-right: 28px;
    margin-left: 75px;
}
.c1line2_right   .font_white1
{
    position: relative;
    bottom: 5px;
}
.mb_65
{
    margin-bottom: 65px;
}
.mb_30
{
    margin-bottom: 15px;
}
.c1line2_right del
{
    display: inline-block;

}
.c1line2_right .time
{
    line-height: 199px;

    width: 575px;
    height: 157px;
    margin-top: 30px;
    margin-bottom: 45px;

    background-image: url(../img/shoppingRush/time.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.c1line2_right .time .sp1
{
    display: inline-block;

    width: 65px;
    margin-left: 138px;

    text-align: center;
}
.c1line2_right .time .sp2
{
    display: inline-block;

    width: 65px;
    margin-left: 37px;

    text-align: center;
}
.c1line2_right .time .sp3
{
    display: inline-block;

    width: 65px;
    margin-left: 35px;

    text-align: center;
}
.c1line2_right .time .sp4
{
    display: inline-block;

    width: 65px;
    margin-left: 35px;

    text-align: center;
}
.join_shoppingcar
{
    line-height: 40px;

    display: inline-block;

    width: 150px;
    height: 40px;
    margin-right: 10px;

    cursor: pointer;
    text-align: center;

    border: 1px solid #3c6;
    background-color: #defff1;
}
.c1line2_right  .count_num
{
    float: right;
}
.c1line2_right .love
{
    display: inline-block;

    width: 40px;
    height: 40px;

    cursor: pointer;
    text-align: center;

    border: 1px solid  #b5b5b5;
}
.c1line2_right .love img
{
    display: inline-block;

    margin-top: 10px;
}

.cont1 .ct1_line4
{
    width: 1200px;

    text-align: center;
}
.cont1 .ct1_line4 img
{
    display: inline-block;

    margin-top: 15px;
}

.ct1_line3
{
    width: 1200px;
}
.ct1_line3   span
{
    font-size: 16px;
    line-height: 50px;

    display: inline-block;

    width: 148px;
    height: 50px;

    cursor: pointer;
    text-align: center;

    background-color: #f5f5f5;
}
.ct1_line3  .active
{
    color: #3c6;
    border-top: 2px solid  #3c6;
    border-right: 1px solid #3c6;
    border-left: 1px solid #3c6;
    background-color: #fff;
}

.ct1_line3   img
{
    display: inline-block;
    float: right;

    width: 1046px;
}
.ct1_line3 .right
{
    float: right;

    width: 591px;

    background-color: #f5f5f5;
}

#goodsNum
{
    position: relative;
    top: 8px;

    display: inline-block;
}

#spec-n1
{
    position: relative;
}
#spec-list
{
    width: 110px;
}


#spec-n1 .o-img
{
    overflow: hidden;

    width: 468px;
    height: 538px;

    text-align: center;

    border: 1px solid #dedede;
}
#spec-n1 .switch
{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    width: 470px;
    height: 530px;
}
#spec-n1 img
{
    max-width: 720px;
    min-height: 384px;
    max-height: 540px;
}
#spec-n5
{
    position: relative;

    float: right;
    zoom: 1;

    height: 490px;
}
#spec-list
{
    height: 490px;
}
#spec-list ul
{
    overflow: hidden;

    height: 490px;
    margin: 0;
}
#spec-list li
{
    overflow: hidden;

    width: 110px;
    height: 130px;

    text-align: center;

    border: 1px solid #e8e8e8;
}
#spec-list img
{
    width: 108px;
    height: 133px;
}
#spec-list .curr
{
    border: 1px solid #3c6;
}
#foward
{
    display: block;
    float: left;

    width: 50%;
    height: 540px;

    cursor: url(../img/shoppingRush/foward.ico),pointer;

         opacity: 0;
    background: #fff;

    filter: alpha(opacity=0);
    -moz-opacity: 0;
}
#foward.disabled,
#next.disabled
{
    cursor: default;
}
#next
{
    display: block;
    float: right;

    width: 50%;
    height: 540px;

    cursor: url(../img/shoppingRush/next.ico),pointer;

         opacity: 0;
    background: #fff;

    filter: alpha(opacity=0);
    -moz-opacity: 0;
}

.c1line2_right  .p1
{
    margin-bottom: 16px;
}

.c1line2_right  .p2
{
    margin-bottom: 11px;
}
.c1line2_right  .p3
{
    padding-bottom: 20px;

    border-bottom: 1px solid #e8e8e8;
}

.c1line2_right  .p4
{
    margin-top: 20px;
}
.c1line2_right  .p5
{
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 28px;

    border-bottom: 1px solid #e8e8e8;
}

.c1line2_right   .square
{
    line-height: 35px;

    display: inline-block;

    width: 80px;
    height: 35px;

    cursor: pointer;
    text-align: center;

    border: 1px solid #b5b5b5;
}
.c1line2_right  .active
{
    border: 1px solid #3c6;
}
.text_center
{
    text-align: center;
}
.sf-mid-cont .goodsType
{
    display: none;

    width: 1200px;
}
.goodsType  .rush
{
    display: inline-block;

    margin-top: 15px;
}

.sf-mid-cont  .fn_show
{
    display: inline-block;
}
.goodsType  .cont
{
    width: 1200px;
    height: 226px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 40px;

    border: 1px solid #dedede;
}

.goodsType  .cont2
{
    width: 1200px;
    height: 225px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 40px;

    border: 1px solid #dedede;
}
.cont2 i
{
    font-size: 16px;

    display: inline-block;

    margin-bottom: 12px;

    color: #454545;
}
.cont2 span
{
    font-size: 14px;

    margin-bottom: 5px;

    color: #999;
}

.goodsType .cont i
{
    font-size: 16px;

    display: inline-block;

    margin-bottom: 12px;

    color: #454545;
}
.goodsType .cont span
{
    font-size: 14px;

    display: inline-block;

    width: 149px;
    margin-bottom: 6px;

    color: #999;
}
.goodsType .cont b
{
    font-size: 14px;
    font-weight: normal;

    color: #454545;
}

.goodsType .title
{
    box-sizing: border-box;
    width: 1200px;
    height: 164px;
    margin-top: 20px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 40px;

    border: 1px solid #dedede;
}
.goodsType .gli1
{
    width: 174px;

    border-right: 1px solid #dedede;
}
.goodsType .gli2
{
    margin-left: 40px;
}
.goodsType .gli3
{
    position: relative;
    bottom: 12px;

    margin-left: 66px;
}
.goodsType .gli2 .red_sp
{
    display: inline-block;

    width: 0;
    height: 12px;
    margin-left: 5px;

    background-color: #fe7474;
}
.goodsType .gli2 .black_sp
{
    position: relative;
    left: -5px;

    display: inline-block;

    width: 150px;
    height: 12px;
    margin-right: 9px;

    background-color: #dedede;
}

.gli3 .font_red2
{
    display: inline-block;

    margin-top: 10px;
}

#commentTitle
{
    width: 1200px;
    padding-top: 22px;
}
.pb_20
{
    padding-bottom: 20px;
}
#commentTitle .c_good,
.c_all,
.c_normal,
.c_bad
{
    padding-right: 15px;
    padding-left: 15px;
}
#commentTitle  span
{
    display: inline-block;
    float: left;

    cursor: pointer;

    border-bottom: 1px solid #dedede;
}
#commentTitle  .active
{
    color: #3c6;
    border-bottom-color: #3c6;
}
b
{
    font-weight: normal;
}
.comment_cont  .cp_right
{
    float: right;
}
.comment_cont  .c_p
{
    box-sizing: border-box;
    width: 1186px;
    margin-top: 12px;
    margin-left: 14px;

    border-bottom: 1px solid #dedede;
}
.comment_cont .sf_time
{
    margin-top: 16px;
    margin-bottom: 10px;
}
.comment_cont .sf_photos
{
    margin-bottom: 10px;
}
.sf-mid-cont  .fn_none
{
    display: none;
}
.cp_right .star
{
    margin-top: 20px;
}
.comment_bar
{
    width: 1200px;
    margin-bottom: 80px;
}
.comment_bar  .fl_right
{
    float: right;

    margin-top: 20px;
}
.comment_bar a
{
    display: inline-block;

    border: 1px solid #a9a9a9;
}
.comment_bar .c3_change
{
    line-height: 28px;

    width: 70px;
    height: 28px;

    text-align: center;
}
.comment_bar  .c3_num
{
    line-height: 28px;

    width: 28px;
    height: 28px;

    text-align: center;
}
